# python
__pycache__/
*.pyc
venv/
.venv/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# env
.env

# logs
logs/
*.log

# dbt
target/
dbt/logs/
dbt/profiles.yml

# airflow
airflow/logs/

# misc
.DS_Store
Thumbs.db